### Desafio

Para praticar o que aprendemos, vamos trabalhar com a carteira de outro(a) cliente e construir esse novo projeto em um novo documento.

Neste desafio, a missão é gerar os códigos de extração dos dados dos ativos da bolsa brasileira listados abaixo:

Ativo: ASAI3, EQTL3, LREN3,	PRIO3, RAIL3, RDOR3, SBSP3,	VIVT3

Vamos dividir esse processo em 2 desafios, sendo eles:

### Desafio 1

Extrair os dados de cotações diárias dos ativos no período de 01/01/2023 até 31/08/2023.

Dica: Extraia a data, os dados OHLC (Open, High, Low, Close) e o ticker do Ativo como colunas da tabela cotacoes.

In [89]:
# Carregando as bibliotecas

import yfinance as yf
import pandas as pd

In [90]:
# Gerando uma carteira com os ativos

carteira_yf = ['ASAI3.SA','EQTL3.SA','LREN3.SA','PRIO3.SA', 'RAIL3.SA', 'RDOR3.SA', 'SBSP3.SA',	'VIVT3.SA']

In [91]:
# Puxando os dados da API

df = yf.download(carteira_yf, start='2023-01-01', end='2024-01-01')

[                       0%                       ]

[*********************100%***********************]  8 of 8 completed

In [92]:
# Visualizando os dados
df.head(5)

Price                      Adj Close                                   \
Ticker                      ASAI3.SA   EQTL3.SA   LREN3.SA   PRIO3.SA
Date
2023-01-02 00:00:00+00:00  18.912775  25.446011  18.115597  36.701050
2023-01-03 00:00:00+00:00  18.534321  24.824192  17.684494  34.244995
2023-01-04 00:00:00+00:00  19.002409  24.872772  17.796953  34.035332
2023-01-05 00:00:00+00:00  18.902815  24.950497  17.525175  34.913921
2023-01-06 00:00:00+00:00  18.962574  24.872772  18.171824  35.123585

Price                                                                  \
Ticker                      RAIL3.SA   RDOR3.SA   SBSP3.SA   VIVT3.SA
Date
2023-01-02 00:00:00+00:00  17.518959  26.401632  51.064899  33.301983
2023-01-03 00:00:00+00:00  17.122152  25.095198  50.577656  32.633926
2023-01-04 00:00:00+00:00  17.380075  25.485178  50.969360  33.347736
2023-01-05 00:00:00+00:00  17.499115  26.957354  52.240013  34.244579
2023-01-06 00:00:00+00:00  17.657839  27.240089  52.478855  34.976688

Price                          Close             ...       Open             \
Ticker                      ASAI3.SA   EQTL3.SA  ...   SBSP3.SA   VIVT3.SA
Date                                             ...
2023-01-02 00:00:00+00:00  18.990000  26.159052  ...  56.349998  37.000000
2023-01-03 00:00:00+00:00  18.610001  25.519808  ...  54.509998  36.310001
2023-01-04 00:00:00+00:00  19.080000  25.569748  ...  53.310001  35.790001
2023-01-05 00:00:00+00:00  18.980000  25.649652  ...  53.669998  37.200001
2023-01-06 00:00:00+00:00  19.040001  25.569748  ...  54.689999  37.419998

Price                       Volume                                          \
Ticker                    ASAI3.SA  EQTL3.SA  LREN3.SA  PRIO3.SA  RAIL3.SA
Date
2023-01-02 00:00:00+00:00  4837200   4090133   7901100   6577200  11855600
2023-01-03 00:00:00+00:00  7978600   7895129  16029900  12918600   7425800
2023-01-04 00:00:00+00:00  9017200   7429879  15570400  10889600   7541700
2023-01-05 00:00:00+00:00  6318600  10985481  35651300   8847600   8129000
2023-01-06 00:00:00+00:00  4999100  10571191  22888400   9947800   5244100

Price
Ticker                    RDOR3.SA SBSP3.SA VIVT3.SA
Date
2023-01-02 00:00:00+00:00  4189200  2990300  1119300
2023-01-03 00:00:00+00:00  5024500  3804800  2097900
2023-01-04 00:00:00+00:00  4982200  1982500  2147300
2023-01-05 00:00:00+00:00  7411200  3490600  3810900
2023-01-06 00:00:00+00:00  3991800  1667100  2326200

[5 rows x 48 columns]

In [93]:
#Passando os ativos para o multindex do df
cotacoes = df.stack(level=1)
cotacoes

C:\Users\wende\AppData\Local\Temp\ipykernel_8272\306307137.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  cotacoes = df.stack(level=1)

Price                               Adj Close      Close       High  \
Date                      Ticker
2023-01-02 00:00:00+00:00 ASAI3.SA  18.912775  18.990000  19.170000
                          EQTL3.SA  25.446011  26.159052  26.898176
                          LREN3.SA  18.115597  19.330000  20.330000
                          PRIO3.SA  36.701050  36.759998  37.660000
                          RAIL3.SA  17.518959  17.660000  18.480000
...                                       ...        ...        ...
2023-12-28 00:00:00+00:00 PRIO3.SA  46.049999  46.049999  46.049999
                          RAIL3.SA  22.844810  22.950001  23.049999
                          RDOR3.SA  28.447557  28.760000  28.980000
                          SBSP3.SA  74.055199  75.370003  75.370003
                          VIVT3.SA  51.274742  53.439999  54.000000

Price                                     Low       Open    Volume
Date                      Ticker
2023-01-02 00:00:00+00:00 ASAI3.SA  18.549999  19.000000   4837200
                          EQTL3.SA  26.029203  26.898176   4090133
                          LREN3.SA  19.059999  20.270000   7901100
                          PRIO3.SA  36.450001  36.880001   6577200
                          RAIL3.SA  17.540001  18.309999  11855600
...                                       ...        ...       ...
2023-12-28 00:00:00+00:00 PRIO3.SA  45.320000  45.820000   7871200
                          RAIL3.SA  22.780001  22.990000   5017100
                          RDOR3.SA  28.629999  28.740000   3291500
                          SBSP3.SA  74.459999  74.860001   1581200
                          VIVT3.SA  53.349998  53.709999   1377500

[1984 rows x 6 columns]

In [94]:
# Alterando o indice e renomeando colunas

cotacoes = cotacoes.reset_index().rename(columns= {'Ticker':'Ativos'})
cotacoes

Price,Date,Ativos,Adj Close,Close,High,Low,Open,Volume
0,2023-01-02 00:00:00+00:00,ASAI3.SA,18.912775,18.990000,19.170000,18.549999,19.000000,4837200
1,2023-01-02 00:00:00+00:00,EQTL3.SA,25.446011,26.159052,26.898176,26.029203,26.898176,4090133
2,2023-01-02 00:00:00+00:00,LREN3.SA,18.115597,19.330000,20.330000,19.059999,20.270000,7901100
3,2023-01-02 00:00:00+00:00,PRIO3.SA,36.701050,36.759998,37.660000,36.450001,36.880001,6577200
4,2023-01-02 00:00:00+00:00,RAIL3.SA,17.518959,17.660000,18.480000,17.540001,18.309999,11855600
...,...,...,...,...,...,...,...,...
1979,2023-12-28 00:00:00+00:00,PRIO3.SA,46.049999,46.049999,46.049999,45.320000,45.820000,7871200
1980,2023-12-28 00:00:00+00:00,RAIL3.SA,22.844810,22.950001,23.049999,22.780001,22.990000,5017100
1981,2023-12-28 00:00:00+00:00,RDOR3.SA,28.447557,28.760000,28.980000,28.629999,28.740000,3291500
1982,2023-12-28 00:00:00+00:00,SBSP3.SA,74.055199,75.370003,75.370003,74.459999,74.860001,1581200
1983,2023-12-28 00:00:00+00:00,VIVT3.SA,51.274742,53.439999,54.000000,53.349998,53.709999,1377500

In [95]:
# Retornando as colunas Ativos, Datas e OHLC

cotacoes = cotacoes[['Ativos', 'Date', 'Open', 'High', 'Low', 'Close']]
cotacoes

Price,Ativos,Date,Open,High,Low,Close
0,ASAI3.SA,2023-01-02 00:00:00+00:00,19.000000,19.170000,18.549999,18.990000
1,EQTL3.SA,2023-01-02 00:00:00+00:00,26.898176,26.898176,26.029203,26.159052
2,LREN3.SA,2023-01-02 00:00:00+00:00,20.270000,20.330000,19.059999,19.330000
3,PRIO3.SA,2023-01-02 00:00:00+00:00,36.880001,37.660000,36.450001,36.759998
4,RAIL3.SA,2023-01-02 00:00:00+00:00,18.309999,18.480000,17.540001,17.660000
...,...,...,...,...,...,...
1979,PRIO3.SA,2023-12-28 00:00:00+00:00,45.820000,46.049999,45.320000,46.049999
1980,RAIL3.SA,2023-12-28 00:00:00+00:00,22.990000,23.049999,22.780001,22.950001
1981,RDOR3.SA,2023-12-28 00:00:00+00:00,28.740000,28.980000,28.629999,28.760000
1982,SBSP3.SA,2023-12-28 00:00:00+00:00,74.860001,75.370003,74.459999,75.370003
1983,VIVT3.SA,2023-12-28 00:00:00+00:00,53.709999,54.000000,53.349998,53.439999

### Desafio 2

Extrair os dados gerais e indicadores dos ativos, sendo estes:

1 - Dados gerais

Setor
Cotação Atual
Cotação Mínima e Máxima anual
Número de ações
Valor de Mercado
Patrimônio Líquido
Receita Líquida dos últimos 3 e 12 meses
Lucro Líquido dos últimos 3 e 12 meses
2 - Indicadores de Valuation

P/L
P/VP
DY
LPA
VPA
Dica 1: esteja atento(a) aos dois métodos de obtenção do dado get_papel() e get_resultado_raw() da biblioteca fundamentus.

Dica 2: para os valores de LPA e VPA utilize o mesmo processo realizado na aula Extraindo os indicadores dos ativos. Por fim, gere uma só tabela indicadores.