# Bulltrend

A consultoria financeira *Bulltrend* busca visualizar as carteiras de investimento de seus clientes pensando na melhor forma de indicar bons ativos e acompanhar a evolução destes.
Você, como analista de dados dessa consultoria, decidiu combinar duas potentes ferramentas de Data Science, Python e Power Bi, para auxiliar o time de consultores a acompanhar de perto a carteira de ativos dos clientes.
Aqui vamos trazer duas importantes correntes para análise de ativos: a análise fundamentalista e a análise gráfica.
Por meio da coleta dos dados com as bibliotecas Python e carga no Power BI, será possível avaliar a carteira da pessoa cliente e acompanhar os indicadores fundamentalistas que avaliam a situação financeira das empresas listadas na bolsa e as flutuações das cotações no período estipulado:

#### *Base de dados*

Vamos importar duas bases de dados em que:

* A nase de dados com as cotações será gerada dentro do periodo de 01/08/2022 à 01/08/2023, por meio da biblioteca *yfinance* que lê os dados das cotações de todoso os ativos listadas na bolsa do Brasil e do Mundo por meio do site Yahoo Finance.
* A base de dados com os indicadores será gerado, por meio da biblioteca *fundamentus* que lê os dados dos indicadores fundamentalstas de todos os ativos listadas na bolsa do Brasil por meio do site da fundamentus.

#### *Desafio*

Você como analista de dados do time de dados da Finvestment tem o desafio de extrair os dados fundamentalistas e de cotações dos ativos de uma carteira hipotética por meio das bibliotecas Python e carregá-los dentro do Power BI a fim de construir um dashboard com os dados compilados e disponíveis para a análise da pessoa consultora.

### Importando as bibliotecas e trazendo os dados de cotação

In [4]:
import pandas as pd
import numpy as np

import yfinance as yf
import fundamentus

2024-09-01 11:44:50,883 [logging.log_init] INFO: LOGLEVEL=INFO

In [5]:
# Definindo a carteira de ações
carteira_yf = ['ABEV3.SA', 'B3SA3.SA', 'ELET3.SA', 'GGBR4.SA', 'ITSA4.SA',
                'PETR4.SA', 'RENT3.SA', 'SUZB3.SA', 'VALE3.SA', 'WEGE3.SA']

In [6]:
# Carregando os dados da carteira
df = yf.download(carteira_yf, start='2022-08-01', end='2023-08-01')

[*********************100%***********************]  10 of 10 completed

In [7]:
#Visualizando
df.head(3)

Price                      Adj Close                                   \
Ticker                      ABEV3.SA   B3SA3.SA   ELET3.SA   GGBR4.SA
Date
2022-08-01 00:00:00+00:00  13.207383  10.113264  45.704250  15.495656
2022-08-02 00:00:00+00:00  13.279604  10.048139  46.058090  15.973554
2022-08-03 00:00:00+00:00  13.207383  10.383076  46.205521  15.325448

Price                                                                 \
Ticker                     ITSA4.SA   PETR4.SA   RENT3.SA   SUZB3.SA
Date
2022-08-01 00:00:00+00:00  6.317714  17.478104  53.862640  44.766502
2022-08-02 00:00:00+00:00  6.376896  17.555944  54.117062  45.134293
2022-08-03 00:00:00+00:00  6.428681  17.566322  55.803810  44.634480

Price                                            ...    Volume            \
Ticker                      VALE3.SA   WEGE3.SA  ...  ABEV3.SA  B3SA3.SA
Date                                             ...
2022-08-01 00:00:00+00:00  56.024532  26.946510  ...  34565900  26237600
2022-08-02 00:00:00+00:00  57.810265  27.429768  ...  12515800  29130100
2022-08-03 00:00:00+00:00  55.563686  27.178480  ...  19576600  29172900

Price                                                                       \
Ticker                     ELET3.SA  GGBR4.SA  ITSA4.SA  PETR4.SA RENT3.SA
Date
2022-08-01 00:00:00+00:00  12239200  16655058  24571002  81365100  6769429
2022-08-02 00:00:00+00:00   7477600  16078734  15000327  69147100  4870629
2022-08-03 00:00:00+00:00   8281500  30645468  24131173  65544500  4927295

Price
Ticker                    SUZB3.SA  VALE3.SA WEGE3.SA
Date
2022-08-01 00:00:00+00:00  7127600  38874000  8202200
2022-08-02 00:00:00+00:00  4379000  32636900  7214800
2022-08-03 00:00:00+00:00  4451900  31934600  6627100

[3 rows x 60 columns]

In [8]:
#Passando os ativos para o multindex do df
cotacoes = df.stack(level=1)
cotacoes

C:\Users\Wendell Barcelos\AppData\Local\Temp\ipykernel_14144\306307137.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  cotacoes = df.stack(level=1)

Price                               Adj Close      Close       High  \
Date                      Ticker
2022-08-01 00:00:00+00:00 ABEV3.SA  13.207383  14.630000  14.890000
                          B3SA3.SA  10.113264  10.870000  11.120000
                          ELET3.SA  45.704250  46.500000  46.889999
                          GGBR4.SA  15.495656  18.785713  19.547619
                          ITSA4.SA   6.317714   7.362799   7.483501
...                                       ...        ...        ...
2023-07-31 00:00:00+00:00 PETR4.SA  25.403507  31.110001  31.150000
                          RENT3.SA  65.090401  67.067726  67.506729
                          SUZB3.SA  46.971523  48.070000  48.610001
                          VALE3.SA  61.386002  69.160004  69.680000
                          WEGE3.SA  39.178074  39.919998  40.290001

Price                                     Low       Open    Volume
Date                      Ticker
2022-08-01 00:00:00+00:00 ABEV3.SA  14.430000  14.860000  34565900
                          B3SA3.SA  10.710000  11.020000  26237600
                          ELET3.SA  45.660000  45.799999  12239200
                          GGBR4.SA  18.650793  19.547619  16655058
                          ITSA4.SA   7.285205   7.457636  24571002
...                                       ...        ...       ...
2023-07-31 00:00:00+00:00 PETR4.SA  30.299999  30.299999  91290800
                          RENT3.SA  66.289497  66.888138   5980447
                          SUZB3.SA  47.340000  47.389999   4602700
                          VALE3.SA  67.839996  68.000000  26065700
                          WEGE3.SA  39.810001  40.290001   7141800

[2500 rows x 6 columns]

In [9]:
# Resetando o index e renomeando a coluna dos ativos
cotacoes = cotacoes.reset_index().rename(columns={"Ticker": "Ativos"})

In [10]:
# Organizando as colunas
cotacoes = cotacoes[['Date','Open','High','Low','Close','Ativos']]

# Visualizando
cotacoes.head(5)

Price,Date,Open,High,Low,Close,Ativos
0,2022-08-01 00:00:00+00:00,14.860000,14.890000,14.430000,14.630000,ABEV3.SA
1,2022-08-01 00:00:00+00:00,11.020000,11.120000,10.710000,10.870000,B3SA3.SA
2,2022-08-01 00:00:00+00:00,45.799999,46.889999,45.660000,46.500000,ELET3.SA
3,2022-08-01 00:00:00+00:00,19.547619,19.547619,18.650793,18.785713,GGBR4.SA
4,2022-08-01 00:00:00+00:00,7.457636,7.483501,7.285205,7.362799,ITSA4.SA

In [11]:
# Visualizando as informações dos dados
cotacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2500 non-null   datetime64[ns, UTC]
 1   Open    2500 non-null   float64
 2   High    2500 non-null   float64
 3   Low     2500 non-null   float64
 4   Close   2500 non-null   float64
 5   Ativos  2500 non-null   object
dtypes: datetime64[ns, UTC](1), float64(4), object(1)
memory usage: 117.3+ KB

In [12]:
# Lendo um papel específico
weg = fundamentus.get_papel("WEGE3")
weg

2024-09-01 11:44:57,166 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Wendell Barcelos\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')

,Papel,Tipo,Empresa,Setor,Subsetor,Cotacao,Data_ult_cot,Min_52_sem,Max_52_sem,Vol_med_2m,...,Ativo_Circulante,Div_Bruta,Div_Liquida,Patrim_Liq,Receita_Liquida_12m,EBIT_12m,Lucro_Liquido_12m,Receita_Liquida_3m,EBIT_3m,Lucro_Liquido_3m
WEGE3,WEGE3,ON N1,WEG SA ON N1,Máquinas e Equipamentos,"Motores, Compressores e Outros",54.00,2024-08-28,30.96,54.20,339924000,...,25019400000,4180980000,-3049790000,19299600000,33943900000,7609910000,5826240000,9274430000,2115140000,1441660000

In [13]:
# Definindo a carteira de ações
carteira_fund = ["ABEV3", "B3SA3", "ELET3", "GGBR4", "ITSA4",
                 "PETR4", "RENT3", "SUZB3", "VALE3", "WEGE3"]

In [14]:
# Criando um df com algumas infos da carteira
ind = pd.concat([fundamentus.get_papel(papel)[['Setor', 'Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado', 
                                               'Nro_Acoes', 'Patrim_Liq','Receita_Liquida_12m','Receita_Liquida_3m', 
                                               'Lucro_Liquido_12m', 'Lucro_Liquido_3m']] for papel in carteira_fund])
ind.head(3)

2024-09-01 11:44:57,393 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Wendell Barcelos\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-09-01 11:44:57,504 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Wendell Barcelos\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-09-01 11:44:57,611 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Wendell Barcelos\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-09-01 11:44:57,667 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Wendell Barcelos\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-09-01 11:44:57,723 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Wendell Barcelos\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-09-01 11:44:57,783 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Wendell Barcelos\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-09-01 11:44:57,847 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Wendell Barcelos\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-09-01 11:44:57,913 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Wendell Barcelos\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-09-01 11:44:57,959 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Wendell Barcelos\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')
2024-09-01 11:44:58,009 [detalhes.get_papel] INFO: detalhes: call: get..._papel()
c:\Users\Wendell Barcelos\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\detalhes.py:232: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables_html = pd.read_html(content.text, decimal=",", thousands='.')

,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m
ABEV3,Bebidas,12.95,11.09,14.08,204062000000,15757700000,95262800000,80627500000,20044200000,14396000000,2396310000
B3SA3,Serviços Financeiros Diversos,12.70,10.00,14.50,70440600000,5546500000,19117100000,10177200000,2727240000,4183420000,1244050000
ELET3,Energia Elétrica,42.04,33.41,43.99,96990500000,2307100000,114094000000,35817100000,8395280000,4444280000,1740300000

In [15]:
# Retornando as informações
ind.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, ABEV3 to WEGE3
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Setor                10 non-null     object
 1   Cotacao              10 non-null     object
 2   Min_52_sem           10 non-null     object
 3   Max_52_sem           10 non-null     object
 4   Valor_de_mercado     10 non-null     int64
 5   Nro_Acoes            10 non-null     object
 6   Patrim_Liq           10 non-null     object
 7   Receita_Liquida_12m  10 non-null     object
 8   Receita_Liquida_3m   10 non-null     object
 9   Lucro_Liquido_12m    10 non-null     object
 10  Lucro_Liquido_3m     10 non-null     object
dtypes: int64(1), object(10)
memory usage: 960.0+ bytes

In [16]:
# Passando o ticker para uma coluna
ind = ind.reset_index()
ind.rename(columns={"index":"Ativo"}, inplace=True)

In [17]:
# Alterando colunas object para numeric
colunas = ['Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado', 'Nro_Acoes', 'Patrim_Liq',
           'Receita_Liquida_12m', 'Receita_Liquida_3m', 'Lucro_Liquido_12m', 'Lucro_Liquido_3m']
ind[colunas] = ind[colunas].apply(pd.to_numeric, errors='coerce', axis=1)
ind.head()

,Ativo,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m
0,ABEV3,Bebidas,12.95,11.09,14.08,2.040620e+11,1.575770e+10,9.526280e+10,8.062750e+10,2.004420e+10,1.439600e+10,2.396310e+09
1,B3SA3,Serviços Financeiros Diversos,12.70,10.00,14.50,7.044060e+10,5.546500e+09,1.911710e+10,1.017720e+10,2.727240e+09,4.183420e+09,1.244050e+09
2,ELET3,Energia Elétrica,42.04,33.41,43.99,9.699050e+10,2.307100e+09,1.140940e+11,3.581710e+10,8.395280e+09,4.444280e+09,1.740300e+09
3,GGBR4,Siderurgia e Metalurgia,18.06,16.70,20.86,3.807910e+10,2.108480e+09,5.513030e+10,6.460490e+10,1.661580e+10,5.062630e+09,8.591100e+08
4,ITSA4,Intermediários Financeiros,11.15,7.79,11.15,1.151590e+11,1.032810e+10,8.355100e+10,7.648000e+09,1.995000e+09,1.431200e+10,3.762000e+09

In [18]:
# Criando um novo df com alguns indicadores da carteira
ind_2 = fundamentus.get_resultado_raw().reset_index()
ind_2 = ind_2.query("papel in @carteira_fund")

c:\Users\Wendell Barcelos\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\resultado.py:50: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(content.text, decimal=",", thousands='.')[0]

In [19]:
# Criando um novo df com alguns indicadores da carteira
ind_2 = fundamentus.get_resultado_raw().reset_index()
ind_2 = ind_2.query("papel in @carteira_fund")

ind_2 = ind_2[['papel','P/L', 'Div.Yield','P/VP','ROE']].reset_index(drop=True)

ind_2.rename(columns={'papel': 'Ativo','Div.Yield':'DY'}, inplace= True)
ind_2.head()

c:\Users\Wendell Barcelos\AppData\Local\Programs\Python\Python312\Lib\site-packages\fundamentus\resultado.py:50: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(content.text, decimal=",", thousands='.')[0]

Multiples  Ativo    P/L      DY  P/VP     ROE
0          ABEV3  14.08  0.0568  2.13  0.1511
1          B3SA3  16.81  0.0335  3.68  0.2188
2          ELET3  21.67  0.0097  0.84  0.0390
3          GGBR4   7.62  0.0478  0.70  0.0918
4          ITSA4   7.91  0.0727  1.35  0.1713

In [20]:
# Concatenando os dfs em um só com as infos e indicadores
indicadores = pd.merge(ind, ind_2, on="Ativo")

In [21]:
# Criando uma coluna para LPA (Lucro por Ação) e VPA (Valor Patrimonial por ação)
# para calcular a fórmula de Graham  Valor intrínseco de uma ação (VI = √22,5 x LPA x VPA)
indicadores["LPA"] = (indicadores["Lucro_Liquido_12m"] / indicadores["Nro_Acoes"]).round(2)
indicadores["VPA"] = (indicadores["Patrim_Liq"] / indicadores["Nro_Acoes"]).round(2)
indicadores

,Ativo,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m,P/L,DY,P/VP,ROE,LPA,VPA
0,ABEV3,Bebidas,12.95,11.09,14.08,2.040620e+11,1.575770e+10,9.526280e+10,8.062750e+10,2.004420e+10,1.439600e+10,2.396310e+09,14.08,0.0568,2.13,0.1511,0.91,6.05
1,B3SA3,Serviços Financeiros Diversos,12.70,10.00,14.50,7.044060e+10,5.546500e+09,1.911710e+10,1.017720e+10,2.727240e+09,4.183420e+09,1.244050e+09,16.81,0.0335,3.68,0.2188,0.75,3.45
2,ELET3,Energia Elétrica,42.04,33.41,43.99,9.699050e+10,2.307100e+09,1.140940e+11,3.581710e+10,8.395280e+09,4.444280e+09,1.740300e+09,21.67,0.0097,0.84,0.0390,1.93,49.45
3,GGBR4,Siderurgia e Metalurgia,18.06,16.70,20.86,3.807910e+10,2.108480e+09,5.513030e+10,6.460490e+10,1.661580e+10,5.062630e+09,8.591100e+08,7.62,0.0478,0.70,0.0918,2.40,26.15
4,ITSA4,Intermediários Financeiros,11.15,7.79,11.15,1.151590e+11,1.032810e+10,8.355100e+10,7.648000e+09,1.995000e+09,1.431200e+10,3.762000e+09,7.91,0.0727,1.35,0.1713,1.39,8.09
5,PETR4,"Petróleo, Gás e Biocombustíveis",39.60,27.29,39.60,5.165620e+11,1.304450e+10,3.734790e+11,4.990650e+11,1.222580e+11,7.876300e+10,-2.605000e+09,6.52,0.1610,1.38,0.2109,6.04,28.63
6,RENT3,Diversos,42.50,38.76,63.86,4.555530e+10,1.071890e+09,2.533050e+10,3.296590e+10,9.049050e+09,1.535170e+09,-5.694710e+08,28.89,0.0378,1.75,0.0606,1.43,23.63
7,SUZB3,Madeira e Papel,56.08,46.64,65.23,7.089170e+10,1.264120e+09,4.049490e+10,4.027230e+10,1.149410e+10,2.241840e+08,-3.770200e+09,310.13,0.0222,1.72,0.0055,0.18,32.03
8,VALE3,Mineração,59.37,56.00,71.86,2.694810e+11,4.539010e+09,2.054510e+11,2.100930e+11,5.173500e+10,4.872900e+10,1.459200e+10,5.55,0.1202,1.32,0.2372,10.74,45.26
9,WEGE3,Máquinas e Equipamentos,54.00,30.96,54.20,2.266550e+11,4.197320e+09,1.929960e+10,3.394390e+10,9.274430e+09,5.826240e+09,1.441660e+09,39.01,0.0136,11.78,0.3019,1.39,4.60

In [ ]:
# Código completo da obtenção dos dados históricos das cotações da carteira de 01/08/2022 à 01/08/2023
# Importando a biblioteca
import yfinance as yf

# Definindo a carteira de ações
carteira_yf = ['ABEV3.SA', 'B3SA3.SA', 'ELET3.SA', 'GGBR4.SA', 'ITSA4.SA',
               'PETR4.SA', 'RENT3.SA', 'SUZB3.SA', 'VALE3.SA', 'WEGE3.SA']

# Carregando os dados da carteira
df = yf.download(carteira_yf, start="2022-08-01", end="2023-08-01")

# Passando os ativos para o multindex do df
cotacoes = df.stack(level=1)

# Resetando os índices e renomenado a coluna dos ativos
cotacoes = cotacoes.reset_index().rename(columns={"Ticker": "Ativo"})

# Organizando o df
cotacoes = cotacoes[["Date", "Open", "High", "Low", "Close", "Ativo"]]

del carteira_yf, df

In [ ]:
# Importando as bibliotecas
import fundamentus
import pandas as pd

# Definindo a carteira de ações
carteira_fund = ["ABEV3", "B3SA3", "ELET3", "GGBR4", "ITSA4",
                 "PETR4", "RENT3", "SUZB3", "VALE3", "WEGE3"]

# Criando um df com algumas infos da carteira
ind = pd.concat([fundamentus.get_papel(papel)[['Setor', 'Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado',
                                            'Nro_Acoes', 'Patrim_Liq','Receita_Liquida_12m','Receita_Liquida_3m',
                                            'Lucro_Liquido_12m', 'Lucro_Liquido_3m']] for papel in carteira_fund])

# Passando o ticker para uma coluna
ind = ind.reset_index()
ind.rename(columns = {'index':'Ativo'}, inplace=True)

# Alterando colunas object para numeric
colunas = ['Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado', 'Nro_Acoes', 'Patrim_Liq',
           'Receita_Liquida_12m', 'Receita_Liquida_3m', 'Lucro_Liquido_12m', 'Lucro_Liquido_3m']
ind[colunas] = ind[colunas].apply(pd.to_numeric, errors='coerce', axis=1)

# Criando um novo df com alguns indicadores da carteira
ind_2 = fundamentus.get_resultado_raw().reset_index()
ind_2 = ind_2.query("papel in @carteira_fund")
ind_2 = ind_2[['papel','P/L', 'Div.Yield','P/VP','ROE']].reset_index(drop=True)
ind_2.rename(columns={'papel': 'Ativo','Div.Yield':'DY'}, inplace= True)

# Concatenando os dfs em um só com as infos e indicadores
indicadores = pd.merge(ind, ind_2, on="Ativo")

# Criando uma coluna para LPA (Lucro por Ação) e VPA (Valor Patrimonial por ação)
# para calcular a fórmula de Graham  Valor intrínseco de uma ação (VI = √22,5 x LPA x VPA)
indicadores["LPA"] = (indicadores["Lucro_Liquido_12m"] / indicadores ["Nro_Acoes"]).round(2)
indicadores["VPA"] = (indicadores["Patrim_Liq"] / indicadores ["Nro_Acoes"]).round(2)

del ind, ind_2, carteira_fund, colunas